<?xml version="1.0" encoding="UTF-8"?>
<!-- ======================================== -->
<!-- 慣性定義                                   -->
<!-- ======================================== -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- 慣性のデフォルト値 -->
  <xacro:macro name="default_inertial" params="*origin">
    <inertial>
      <xacro:insert_block name="origin" />
      <mass
        value="0.01" />
      <inertia
        ixx="0.001"
        ixy="0.0"
        ixz="0.0"
        iyy="0.001"
        iyz="0.0"
        izz="0.001" />
    </inertial>
  </xacro:macro>
</robot>