<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- ======================================== -->
  <!-- Definitions of inertial                  -->
  <!-- ======================================== -->
  <!-- Simple inertial value for testing -->
  <xacro:property name="default_inertial">
    <mass
      value="1" />
    <inertia
      ixx="0.01"
      iyy="0.01"
      izz="0.01"
      ixy="0.0"
      iyz="0.0"
      ixz="0.0" />
  </xacro:property>
</robot>
