<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- ======================================== -->
  <!-- 材質定義                                   -->
  <!-- ======================================== -->
  <material name="red">
    <color rgba="1.0 0.0 0.0 1.0" />
  </material>

  <material name="green">
    <color rgba="0.0 0.6 0.0 1.0" />
  </material>

  <material name="blue">
    <color rgba="0.0 0.0 1.0 1.0" />
  </material>
</robot>