<?xml version="1.0" encoding="UTF-8"?>
<!-- ======================================== -->
<!-- URDF本体                                 -->
<!-- ======================================== -->
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="rrbot">
  <!-- ======================================== -->
  <!-- launchファイル経由で設定するパラメータ引数   -->
  <!-- ======================================== -->

  <!-- ハードウェア利用フラグ -->
  <xacro:arg name="use_mock" default="false" />
  <xacro:arg name="use_gazebo" default="false" />
  <xacro:arg name="use_unity" default="false" />
  <xacro:arg name="controllers_for_gazebo" default="" />

  <!-- ======================================== -->
  <!-- ワールド座標系の定義                       -->
  <!-- ======================================== -->

  <link name="world" />

  <!-- ======================================== -->
  <!-- rrbotの定義                             -->
  <!-- ======================================== -->

  <!-- ロボットの定義 -->
  <xacro:include filename="$(find rrbot_description)/urdf/rrbot.xacro" />
  <xacro:rrbot parent="world">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </xacro:rrbot>

  <!-- ros2_controlの定義 -->
  <xacro:include filename="$(find rrbot_description)/urdf/rrbot_control.xacro" />
  <xacro:rrbot_control
    use_mock="$(arg use_mock)"
    use_gazebo="$(arg use_gazebo)"
    use_unity="$(arg use_unity)" />

  <!-- gazebo classicを使用する場合のみ -->
  <xacro:if value="$(arg use_gazebo)">
    <gazebo reference="world" />

    <!-- gazeboでros2 controlのコントローラマネージャを実行する -->
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(arg controllers_for_gazebo)</parameters>
      </plugin>
    </gazebo>
  </xacro:if>
</robot>