<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- ======================================== -->
  <!-- Definitions of ros2_control              -->
  <!-- ======================================== -->
  <!--
      use_mock:   use mock hardware for simulation
      use_gazebo: use Gazebo simulator
      use_unity:  use Unity
    -->
  <xacro:macro name="rrbot_control"
    params="use_mock:=^|false use_gazebo:=^|false use_unity:=^|false">
    <!-- ======================================== -->
    <!-- ros2_control                             -->
    <!-- ======================================== -->
    <ros2_control name="rrbot" type="system">
      <!-- ======================================== -->
      <!-- Hardwares                                -->
      <!-- ======================================== -->
      <hardware>
        <!-- mock hardware -->
        <xacro:if value="${use_mock}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>

        <!-- Gazebo -->
        <xacro:if value="${use_gazebo}">
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </xacro:if>

        <!-- Unity -->
        <xacro:if value="${use_unity}">
          <!-- reserved -->
        </xacro:if>
      </hardware>

      <!-- ======================================== -->
      <!-- Joints                                   -->
      <!-- ======================================== -->
      <!-- joint1 (base_link -> link1) -->
      <joint name="joint1">
        <!-- input -->
        <command_interface name="position" />
        <command_interface name="velocity" />
        <command_interface name="effort" />

        <!-- output -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <!-- joint2 (link1 -> link2) -->
      <joint name="joint2">
        <!-- input -->
        <command_interface name="position" />
        <command_interface name="velocity" />
        <command_interface name="effort" />

        <!-- output -->
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <!-- ======================================== -->
      <!-- Sensors                                  -->
      <!-- ======================================== -->
      <!-- tcp_sensor (Tool center point) -->
      <sensor name="tcp_sensor">
        <!-- output -->
        <state_interface name="fx" />
        <state_interface name="fy" />
        <state_interface name="fz" />
        <state_interface name="tx" />
        <state_interface name="ty" />
        <state_interface name="tz" />

        <!-- parameter -->
        <param name="frame_id">tool0</param>
      </sensor>

      <!-- ======================================== -->
      <!-- GPIOs                                    -->
      <!-- ======================================== -->
      <!-- flange_gpios -->
      <gpio name="flange_gpios">
        <!-- input -->
        <command_interface name="digital_out_0" />
        <command_interface name="digital_out_1" />

        <!-- output -->
        <state_interface name="digital_in_0" />
        <state_interface name="digital_in_1" />
        <state_interface name="digital_out_0" />
        <state_interface name="digital_out_1" />
      </gpio>
    </ros2_control>
  </xacro:macro>
</robot>